@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");

* {
    box-sizing: border-box;
    margin: 0;
 
}
body {
     font-family: "Montserrat", sans-serif;
     
     
  }
h1 {
  padding-top: 20px;
}

.container {
  text-align: center;
  height: 100vh;
  background: black url(../images/title.jpg) no-repeat center center/cover;
  color: rgb(5, 20, 20);
}

.hide-mobile {
  display: none;
}










@media only screen and (min-width: 650px) {
  
  
}

@media only screen and (min-width: 875px) {
 
}

@media only screen and (min-width: 1024px) {
 
 

  .show-desktop {
    display: block;
    margin:0 auto;
    
  }

  .hide-desktop {
    display: none;
  }

 

  .scroll {
    width: 30px;
    margin-top: 30%;
    
    animation: move 1s infinite alternate;
  }

  @keyframes move {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(20px);
    }
  }
}

@media only screen and (min-width: 1600px) {
  